# Assignment 1(Day 2)

In [2]:
name= "Rishikesh Bhattacharya"

In [3]:
name.index ("h")

3

In [4]:
study= "Python"

In [5]:
name +" "+ study

'Rishikesh Bhattacharya Python'

In [6]:
name.split()

['Rishikesh', 'Bhattacharya']

In [7]:
name.capitalize()

'Rishikesh bhattacharya'

In [8]:
name.find("B")

10

In [9]:
name.upper()

'RISHIKESH BHATTACHARYA'

In [10]:
name.endswith("a")

True

In [11]:
name= "I told her what to do and then I returned"

In [12]:
name.count("I")

2

# Assignment 2(Day2)

In [13]:
lst = ["Sudha", "Ankit", "Ram", 29, 26,39, "Ritu", 5.6, 22.6, "Keya", "Rhutu"]

In [14]:
lst

['Sudha', 'Ankit', 'Ram', 29, 26, 39, 'Ritu', 5.6, 22.6, 'Keya', 'Rhutu']

In [15]:
lst.clear()

In [16]:
lst

[]

In [17]:
lst = ["Tapan","Dhruv", 22, 45, 28, 22.9,34.7]

In [18]:
lst

['Tapan', 'Dhruv', 22, 45, 28, 22.9, 34.7]

In [19]:
lst.pop()

34.7

In [20]:
lst

['Tapan', 'Dhruv', 22, 45, 28, 22.9]

In [21]:
lst.copy()

['Tapan', 'Dhruv', 22, 45, 28, 22.9]

In [22]:
lst.remove("Tapan")

In [23]:
lst

['Dhruv', 22, 45, 28, 22.9]

In [24]:
lst.reverse()

In [25]:
lst

[22.9, 28, 45, 22, 'Dhruv']

In [26]:
lst = [22, 34, 33, 78]

In [27]:
lst

[22, 34, 33, 78]

In [28]:
lst.append("Aishwarya")

In [29]:
lst

[22, 34, 33, 78, 'Aishwarya']

# Assignment 3(Day2)

In [30]:
ditData= {"Name":"Riddhima", "Age":27, "Study":"Graduated", "Status":"Unmarried", "Languages":5}

In [31]:
ditData

{'Name': 'Riddhima',
 'Age': 27,
 'Study': 'Graduated',
 'Status': 'Unmarried',
 'Languages': 5}

In [32]:
ditData.get("Study")

'Graduated'

In [33]:
ditData.keys()

dict_keys(['Name', 'Age', 'Study', 'Status', 'Languages'])

In [34]:
ditData.values()

dict_values(['Riddhima', 27, 'Graduated', 'Unmarried', 5])

In [35]:
ditData.pop("Name")

'Riddhima'

In [36]:
ditData.items()

dict_items([('Age', 27), ('Study', 'Graduated'), ('Status', 'Unmarried'), ('Languages', 5)])

In [37]:
ditData.fromkeys("Languages")

{'L': None, 'a': None, 'n': None, 'g': None, 'u': None, 'e': None, 's': None}